﻿@{
    ViewBag.Title = "OtoKiralama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="geneldis">
    <div class="genelic">
        <div class="ustlinkler">
            <a href="~/Default">Anasayfa</a>
            <a href="~/Hakkimizda">İletişim</a>
            <a href="~/Projeler">Hakkımızda</a>
            <a href="~/Referanslar">Araçlar</a>
            <img src="ornek.jpg" alt="Örnek Resim">
        </div>
        <div class="icerik">
            @RenderBody()
        </div>
    </div>
</div>
