﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <div class="geneldis">
        <div class="genelic">
            <div class="ustlinkler">
                <a href="~/Default">Anasayfa</a>
                <a href="~/Hakkimizda">İletişim</a>
                <a href="~/Projeler">Hakkımızda</a>
                <a href="~/Referanslar">Araçlar</a>
                <img src="anasayfa.jpg" alt="anasayfa">
            </div>
            <div class="icerik">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>